body {
    background-color: #bebebe;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: large;
}

#editorjs {
    background-color: white;
    max-width: 100%;
}

#buttons {
    display: flex;
    align-items: center;
}

#buttons > * {
    margin: 10px 10px 0px 10px;
}

#number {
    width: 10%;
}

.ce-toolbar__settings-btn {
    width: 45px;
    height: 45px;
}

.icon {
    width: 15px;
    height: 15px;
}
