.text-over-image {
    padding: 20px 0;
}

.text-over-image input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.text-over-image img {
    max-width: 50%;
    margin-bottom: 15px;
    float: left;
    margin-right: 10px;
}

.container .input {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #e4e4e4; */
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    border-bottom: 1px solid #f44336;
    /* max-width: 50%; */
    /* position: absolute;
    left: 0;
    top: 50%; */
}

.text-over-image.toggle img {
    max-width: 50%;
    margin-bottom: 15px;
    float: right;
}

.container.toggle .input {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #e4e4e4; */
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    border-bottom: 1px solid #f44336;
    max-width: 90%;
    /* max-width: 50%; */
    /* position: absolute;
    left: 0;
    top: 50%; */
}

.text-over-image.left img {
    max-width: 50%;
    margin-bottom: 15px;
    float: left;
}

.container.left .input {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #e4e4e4; */
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    border-bottom: 1px solid #f44336;
    /* max-width: 50%; */
    /* position: absolute;
    left: 0;
    top: 50%; */
}
